<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="assets/javascript/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <% def minified_lib_for(lib)
        case lib
        when /rsvp/, /classy/
          lib
        when /underscore/
          "#{lib}-min"
        when /moment/
          "moment/min/moment.min"
        else
          "#{lib}.min"
        end
      end
    %>

    <% libs = %w|jquery/dist/jquery handlebars/handlebars rsvp/rsvp ember/ember bootstrap/dist/js/bootstrap underscore/underscore classy/classy moment/moment hammerjs/hammer
                 jqplot/jquery.jqplot jqplot/plugins/jqplot.barRenderer jqplot/plugins/jqplot.pointLabels|

    if ENV["RACK_ENV"] != "development"
      libs.map! { |lib| minified_lib_for(lib) }
    end

    own_js_files = %w|energy results_parser relative_converter deep_object_defaults graphs_plotter sparse_array_filler array_interpolator| %>

    <link href="assets/javascript/vendor/jqplot/jquery.jqplot.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <style>
      .loading_spinner.loading { display: inline-block; }
      .loading_spinner { display: none; }
      #error_icon      { display: none; color: red }
      .numeric         { padding: 15px; margin-bottom: 15px; text-align: center; }
      .energy_spinner  { padding: 15px; visibility: hidden; }
      .current_energy  { -webkit-transition: background-color 1s; transition: background-color 1s; }
      .current_energy.new-value { background-color: white; }
    </style>
  </head>
  <body id="body" data-url-prefix="<%= url("", false) %>" data-current-url="<%= url("energy/current", false) %>">
  </body>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="container">
      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="components/navigation-buttons">
      <div class="row">
        {{#unless isMonth}}
          <button class="btn btn-default today col-sm-offset-1 col-sm-10 col-xs-12" {{action 'upToMonth'}}>Up to month</button>
        {{/unless}}
        <button class="btn btn-lg btn-default previous col-sm-offset-1 col-sm-5 col-xs-6" {{action 'previous'}}>Previous</button>
        <button class="btn btn-lg btn-default next col-sm-5 col-xs-6" {{action 'next'}}>Next</button>
        <button class="btn btn-default today col-sm-offset-1 col-sm-10 col-xs-12" {{action 'today'}}>Today</button>
      </div>
  </script>

  <script type="text/x-handlebars" data-template-name="show">
    <div class="row">
      <h3 class="col-sm-8 col-sm-offset-2"><span class="header">{{header}}</span>
        <i {{bind-attr class=":loading-spinner :fa :fa-spinner :fa-spin loading::hidden"}}></i>
        <i id="error_icon" class="fa fa-exclamation-triangle"></i>
      </h3>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-1 energy_spinner">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      {{current-energy-usage}}
      {{energy-totals content=content}}
      {{gas-totals content=content}}
    </div>

    {{view "graphs"}}

    {{navigation-buttons isMonth=controller.isMonth upToMonth="upToMonth" previous="previous" next="next" today="today"}}
  </script>

  <script type="text/x-handlebars" data-template-name="graphs">
      {{stroom-graph resultsParser=resultsParser content=content action='barClicked'}}
      {{gas-graph resultsParser=resultsParser content=content action='barClicked'}}
  </script>

  <script type="text/x-handlebars" data-template-name="components/current-energy-usage">
    {{valueInWatts}} Watt
  </script>

  <script type="text/x-handlebars" data-template-name="components/totals">
    <div class="bg-info col-xs-2 col-sm-2 numeric" {{bind-attr title=formattedUsage}}>&euro; {{{cost}}}</div>
  </script>

  <% libs.each do |lib| %>
    <script src="assets/javascript/vendor/<%= lib %>.js"></script>
  <% end %>
  <% own_js_files.each do |file| %>
    <script src="assets/javascript/<%= file %>.js"></script>
  <% end %>
</html>
